/* fondo base: #fbb8ff
    Texto: rgb(60, 40, 40);
*/

html {
    height: 100%;
}

body {
    margin: 0; /* Quita el margen por defecto del navegador */
    min-height: 100vh; /* Ocupa todo el alto de la pantalla */
    box-sizing: border-box;

    background-image: radial-gradient(circle, #eca2e4, #f8b6fa);
    background-repeat: no-repeat; /* Evita que el degradado se repita */
    background-attachment: fixed; /* El degradado cubre siempre toda la ventana */

    font-family: Baskervville, serif;
    color: rgb(60, 40, 40);

    /* Centrado absoluto con Grid */
    display: grid;
    place-items: center;
    text-align: center;
}

.boton-verde {
    background-color: rgb(4, 58, 4);
    border-color: rgb(4, 58, 4);
    color: white;
}


.boton-verde:hover {
    background-color: rgb(8, 90, 8);
    border-color: rgb(8, 90, 8);
    color: white;
}
